/*---------PARA RESPONSIVE----------------------------------*/
@media only screen and (max-width:320px) {
    /*celular*/
    .imagen {
            width: 320px;
            height: 70%;
            display: block;
            margin: 0 auto;
    
        }
}

@media only screen and (max-width:768px) {
    /*tablet*/
}

#fDescripcionEquipo {
    text-align: center
}


/*------------------------------------------------*/